</div>
<div id="cbp-pgcontainer" class="cbp-pgcontainer">
    <ul class="cbp-pggrid">
      <% @products.each do |product| %>
        <li>
            <div class="cbp-pgcontent">
                <span class="cbp-pgrotate">Rotate Item</span>
                <div class="cbp-pgitem">
                    <div class="cbp-pgitem-flip">
                        <img src="<%=product.image.gsub(/(.jpeg)/,'_medium.jpeg')%>" class="img-rounded" />
                        <img src="images/1_back.png" />
                    </div>
                </div><!-- /cbp-pgitem -->
                <ul class="cbp-pgoptions">
                    <li class="cbp-pgoptcompare">Compare</li>
                    <li class="cbp-pgoptfav">Favorite</li>
                    <li class="cbp-pgoptsize">
                        <span data-size="XL">XL</span>
                        <div class="cbp-pgopttooltip">
                            <span data-size="XL">XL</span>
                            <span data-size="L">L</span>
                            <span data-size="M">M</span>
                            <span data-size="S">S</span>
                        </div>
                    </li>
                    <li class="cbp-pgoptcolor">
                        <span data-color="c1">Blue</span>
                        <div class="cbp-pgopttooltip">
                            <span data-color="c1">Blue</span>
                            <span data-color="c2">Pink</span>
                            <span data-color="c3">Orange</span>
                            <span data-color="c4">Green</span>
                        </div>
                    </li>
                    <li class="cbp-pgoptcart"></li>
                </ul><!-- cbp-pgoptions -->
            </div><!-- cbp-pgcontent -->
            <div class="cbp-pginfo">
                <h3><%=product.title%></h3>
                <span class="cbp-pgprice">$29</span>
            </div>
        </li>
      <%end%>
    </ul><!-- /cbp-pggrid -->
</div><!-- /cbp-pgcontainer -->
